# ============ Fichiers compilés ============
/target/
*.class
*.jar
*.war
*.log

# ============ IDEs & config ============
.idea/
*.iml

# ============ OS ============
.DS_Store

# ============ Archives ============
*.zip
